h3{
	background-color: blue;
	width: 500px;
	height: 100px;
	display: flex;
}

form{
	height: 400px;
	border: 2px solid black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}